/* ---------- Main__Title --------- */
.main__article__title {
  border-bottom: 1px solid rgba(146, 146, 146, 0.5);

  display: flex;
  flex-direction: column;
  flex: 100%;
}

.main__article__title__txt {
  margin: 0;
  font-size: 4.8em;
  letter-spacing: 3px;
  line-height: 1.25;
}

.main__article__title__links {
  margin: 20px 0 50px 0;
  font-size: 1.4em;
}

/* ---------- Main__Article__Section --------- */
.main__article__section {
  padding: 5% 0;
  border-bottom: 1px solid rgba(146, 146, 146, 0.5);

  display: flex;
}

/* ---------- Main__Article__Section__Img --------- */
.main__article__section__img {
  width: 40%;
}

.main__article__section__img__image {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.main__article__section__img__image:hover {  
  opacity: 0.8;
  transform: scale(1.01);
  transition: all 0.2s ease-out;
}

/* ---------- Main__Article__Section__Txt --------- */
.main__article__section__txt {
  margin-left: 5%;

  display: flex;
  flex: 60%;
  align-items: center;
}

.main__article__section__txt__text {
  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 2;
}

.main__article__section__txt__text__link {
  text-decoration: underline;
}

/* ---------- Main__Article__More --------- */
.main__article__more {
  margin-top: 50px;
  margin-bottom: 150px;
}

.main__article__more__txt {
  font-size: 1.3em;
  letter-spacing: 1px;
}

/* ---------- Responsive --------- */
@media screen and (max-width: 1400px) {
  .main__article__title__txt {
    font-size: 3.8em;
  }
  .main__article__title__links {
    font-size: 1.1em;
  }
  .main__article__section__txt__text {
    font-size: 1.1em;
  }
  .main__article__more__txt {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1024px) {
  .main__article__title__txt {
    font-size: 2.8em;
  }
}

@media screen and (max-width: 800px) {
  .main__article__title__links {
    font-size: 1.1em;
  }
  .main__article__section__txt__text {
    font-size: 1em;
    line-height: 1.5;
  }
  .main__article__more {
    margin-top: 25px;
    margin-bottom: 100px;
  }
  .main__article__more__txt {
    font-size: 1em;
  }
}

@media screen and (max-width: 680px) {
  .main__article__title__txt {
    font-size: 2.5em;
  }
  .main__article__section {
    flex-direction: column;
  }
  .main__article__section__img {
    width: 100%;
  }
  .main__article__section__txt {
    margin-left: 0;
  }
  .main__article__section__txt__text {
    font-size: 1.1em;
  }
  .main__article__more__txt {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 480px) {
  .main__article__title__txt {
    font-size: 2.3em;
  }
  .main__article__title__links {
    font-size: 1em;
  }
  .main__article__section__txt__text {
    line-height: 1.8;
  }
}