/* ---------- Fonts ---------- */
@font-face {
  font-family: "Lobster";
  src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: lighter;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

/* ---------- All --------- */
body {
  background: rgb(253, 253, 253);
  font-family: "Open Sans", serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue";
}